spring:
  datasource:
    url: jdbc:h2:mem:studiopick
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: never  # DataInitializer 사용

aws:
  s3:
    bucket: studiopick-dev
    region: ap-northeast-2
    access-key: your-access-key
    secret-key: your-secret-key
